.navbar.navbar-expand-lg.navbar-light.bg-transparent {
	box-shadow: none;
}
body {
	background-image: url('photo.jpg');
	background-size:cover;
	/* background-position: center; */
	background-repeat: no-repeat;
} 
.nav-link {
	color: white !important;
	font-weight: 500;

}
.navbar-brand {
	color: white !important;
	font-weight: 500;
}
.main {
	color: white;
	text-align: center;
	vertical-align: middle;	
	position: relative;
	margin-top: 9.8rem;
	font-size: 30px;
	opacity: 0;
	animation: 1s slidefade 1s forwards;


}
@keyframes slidefade {
  
   100% {
   	opacity: 1;
   	margin-top: 9rem;
   }
} 
