#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background: url('dribb.gif') no-repeat center center
}

.qwerty {

    background-image: linear-gradient(to bottom right, #FFAA00, #F1726C);
    height: 400px;
    text-align: center;

}

.heading {
    color: white;
    width: 80%;
    font-size: 48px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 4rem;

}

.box {

    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.24);

    border-radius: 8px;

    background-color: #fff;
}

.STUDENTS{
	color: white;
}

.ttyl {
	border-radius: 50% !important;
}

.about {
	text-align: center;
    margin-top: 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem; 
}
.peach-gradient {
	border-radius: 11%;
}

.card.card-cascade.wider.reverse.qwerty {
	border-radius: 1em;
    ma
}
.navbar.navbar-expand-lg.navbar-light {
    box-shadow: none;
}

.nav-item.nav-link.active.waves-effect.waves-light {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
}
.nav-item.nav-link.waves-effect.waves-light {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
}

.lala {
    margin-top: 4rem;
    padding: 3rem;
}

.backkkk {
    background-color: #F9F9F9;
}
.clubs {
    padding: 4rem;  
}
.card-body {
    box-shadow: white !important;
}
.index {
    margin-top: -5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.linear {
     background-image: radial-gradient(circle, #2193b0, #37a3bf, #4ab3ce, #5cc4de, #6dd5ed);
    padding-left: 8rem;
    padding-right: 2rem;

}
.grad {
      background-image: radial-gradient(circle, #eb3349, #ee3f47, #f04946, #f25344, #f45c43);
      padding-left: 2rem;
    padding-right: 8rem;
}

.gridd {
    text-align: center;
vertical-align: middle;
    padding-left: 4rem;
    padding-right: 4rem;
}